<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Christina Cacioppo</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Inconsolata|Open+Sans:800,700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://christinacacioppo.com/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="http://christinacacioppo.com/static/css/blog.css">
  </head>
  <body>
    <div class="centerdiv">
      <div class="header">
        <div class="edge">
          <h1>
            <a href="http://www.twitter.com/christinacaci" onClick="recordOutboundLink(this, 'Outbound Links', 'twitter');return false;">
            <i class="icon ion-social-twitter"></i></a>
          </h1>
        </div>
        <div class="center">
          <a href="/" style="color:#3a3a3a"><h1>Christina</h1></a>
        </div>
        <div class="edge">
          <h1>
            <a href="mailto:c@christinacacioppo.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email');return false;"><i class="icon ion-paper-airplane"></i></a>
          </h1>
        </div>
      </div>
  
  <div class="content">

    <p>I'll email this list when I've got something that seems worth sharing. The emails are super infrequent – even for the updates list.</p></br>

    <form action="" method="post">
      <ul>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Name</label>
            <div class="faketable">
            <input id="name" type="text" name="name" value="" placeholder="Name">
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Email</label>
            <div class="faketable">
            <input id="email" type="email" name="email" value="" placeholder="Email address">
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Phone</label>
            <div class="faketable">
              <input type="radio" name="phone" value="iphone" checked> iPhone </br>
              <input type="radio" name="phone" value="android"> Android 
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Updates?</label>
            <div class="faketable">
              <input type="radio" name="frequency" value="launches" checked> Launches only </br>
              <input type="radio" name="frequency" value="updates"> Updates & launches
          </div>
         </div>
        </li>

        <li class="mailinglist" style="border: none;">
          <label class="mailinglist"></label>
          <input class="btn larger" type="submit" value="Subscribe">
        </li>

      </ul>

    </form>

  <%= nest_template 'views/ganalytics.erb' %>
    
  </div>
</body>
</html>
