
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Christina Cacioppo</title>
    <!-- <link rel="stylesheet" type="text/css" href="http://www.christinacacioppo.com/blog/static/css/cc.css"> -->
    <link rel="stylesheet" type="text/css" href="http://christinacacioppo.com/home.css">
    <link rel="stylesheet" type="text/css" href="http://laisin.s3.amazonaws.com/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="updates/static/css/list.css">
	</head>
	<body>
	  <div class="centerdiv" style="padding:50px 50px; width:80%;">
	
	  <h1>Updates</h1>

    <p>I'll email this list when I've got something that seems worth sharing. The emails are super infrequent – even for the updates list.</p></br>

    <form action="" method="post">
      <ul>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Name</label>
            <div class="faketable">
            <input id="name" type="text" name="name" value="" placeholder="Name">
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Email</label>
            <div class="faketable">
            <input id="email" type="email" name="email" value="" placeholder="Email address">
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Phone</label>
            <div class="faketable">
              <input type="radio" name="phone" value="iphone" checked> iPhone </br>
              <input type="radio" name="phone" value="android"> Android 
          </div>
         </div>
        </li>

        <li class="mailinglist">
          <div class="li-row">
          <label class="mailinglist">Updates?</label>
            <div class="faketable">
              <input type="radio" name="frequency" value="launches" checked> Launches only </br>
              <input type="radio" name="frequency" value="updates"> Updates & launches
          </div>
         </div>
        </li>

        <li class="mailinglist" style="border: none;">
          <label class="mailinglist"></label>
          <input class="btn larger" type="submit" value="Subscribe">
        </li>

      </ul>

    </form>

  <%= nest_template 'views/ganalytics.erb' %>

</body>
</html>