
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Christina Cacioppo</title>
    <link rel="stylesheet" type="text/css" href="http://www.christinacacioppo.com/blog/static/css/cc.css">
    <link rel="stylesheet" type="text/css" href="http://laisin.s3.amazonaws.com/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="updates/static/css/list.css">
	</head>
	<body>
	  <div class="centerdiv" style="background: inherit; border-width: 0px; width: 300px; margin-top: 5%;">
	
	  <div class="blog-name">Thanks!</div>

    <p class="thanks">(You're subscribed.)</p>
    <p>&nbsp;</p>
      <p><img src="http://laisin.s3.amazonaws.com/static/img/hopping_panda.gif"></p>

  <%= nest_template 'views/ganalytics.erb' %>

</body>
</html>